stages:
  - build
  - test

build-frontend:
  stage: build
  image: node:20
  script:
    - echo "Building the Next.js application"
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/.next/
      - frontend/node_modules/
    expire_in: 1 hour

build-backend:
  stage: build
  image: maven:3.9.6-eclipse-temurin-21
  script:
    - echo "Building the Spring Boot Application"
    - cd backend
    - mvn package -DskipTests
  artifacts:
    paths:
      - backend/target/
    expire_in: 1 hour

test-frontend:
  stage: test
  image: node:20
  dependencies:
    - build-frontend
  script:
    - echo "Running Next.js unit tests"
    - cd frontend
    - npm test

test-backend:
  stage: test
  image: maven:3.9.6-eclipse-temurin-21
  dependencies:
    - build-backend
  script:
    - echo "Running Spring Boot unit tests"
    - cd backend
    - mvn clean test
