version: "3.8"

services:
  # The PostgreSQL Database Service
  db:
    image: postgres:15
    container_name: hotel_db
    restart: always
    environment:
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - hotel-network
  backend:
    build:
      context: ./backend
    container_name: hotel-backend-app
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=
      - SPRING_DATASOURCE_USERNAME=
      - SPRING_DATASOURCE_PASSWORD=
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    networks:
      - hotel-network

  frontend:
    build:
      context: ./frontend
    container_name: hotel-frontend-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8080
    networks:
      - hotel-network

networks:
  hotel-network:
    driver: bridge
